.gallery{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}
.gallery-header{
    width: 100%;
    height: 52px; 
}
.gallery-header h3{
    margin: 0;
    font-size: 2em;
    font-family: 'Playfair';
    font-weight: 700;
    font-style: normal;
}

.moments{
    width: 100%;
    height: calc(100%-52px);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 10px;
}
.moments img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.moments img:nth-child(2) {
    grid-column: span 2;
}
